<div class="upload-product container">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form role="form">
                    <div class="form-group">
                        <label for="category"><span class="glyphicon glyphicon-cog"></span> category</label>
                        <input type="text" class="form-control" ng-model="singleProductCtrl.category" id="category" placeholder="Enter category">
                    </div>
                    <div class="form-group">
                        <label for="description"><span class="glyphicon glyphicon-edit"></span> description</label>
                        <input type="text" class="form-control" ng-model="singleProductCtrl.description" height="10" width="10" id="description" placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="cost"><span class="glyphicon glyphicon-usd"></span> cost</label>
                        <input type="number" class="form-control" ng-model="singleProductCtrl.cost" id="cost" placeholder="Enter cost">
                    </div>
                    <button ng-click="singleProductCtrl.productEdit()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-save"></span> </button>
                </form>
            </div>
        </div>
    </div>
</div>
<button class="loggout">
    <a ng-click="singleProductCtrl.loggout()">
        <span class="glyphicon glyphicon-off">
    
        </span>
    </a>
</button>

<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Ecommerce</p>
            <div class="list-group" ng-show="singleProductCtrl.isUserAdmin()">
                <a class="list-group-item" ng-click='singleProductCtrl.deteteProduct()'>delete item</a>
                <a class="list-group-item" data-toggle="modal" data-target=".bs-example-modal-lg">Edit item</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="data:image/png;base64,{{singleProductCtrl.product.imgbase64}}">
                <div class="caption-full">
                    <h4 class="pull-right">{{singleProductCtrl.product.cost}}$</h4>
                    <h4>{{singleProductCtrl.product.name}}</h4>
                    <p></p>
                    <p>{{singleProductCtrl.product.description}}
                    </p>
                    <p>
                        <div class="btn btn-primary pull-right" ng-click="singleProductCtrl.addToCart()">Add to cart</div>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-star" ng-repeat="i in singleProductCtrl.getarray(singleProductCtrl.product.rating) track by $index"></span> {{singleProductCtrl.product.rating}} avg rating
                    </p>
                    Reviews
                </div>
                <div class="well">
                    <div class="row" ng-repeat="comment in singleProductCtrl.comments">
                        <div class="col-md-12">
                            <span><b>-{{comment.commentUploader}}</b></span>
                            <span class="glyphicon glyphicon-star pull-right" ng-repeat="x in singleProductCtrl.getarray(comment.rating) track by $index"></span>
                            <p>{{comment.comment}}</p>
                            <p class="pull-right">{{comment.date}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form ng-submit="singleProductCtrl.addcomments()">
                                <input type="text" height="20" width="10" placeholder="Add your review" ng-model="singleProductCtrl.product.comment.body" />
                                <input type="number" ng-model="singleProductCtrl.product.comment.rating" placeholder="give review out of 5">
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
